<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Contacta a Clubes de ciencia</title></%block>

<%block name="js_extra">
</%block>
<section class="container about" style="width: auto;">
  <section class="vision">
## Contact Section ##
    <section class="message left" id="contact-form">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/dish.jpg')}" alt="Stanford Dish by Twilight" />
          <!-- Image Copyright owned by Stanford University -->
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>Información de Contacto</h2>
        <p><strong>Para información general escríbenos a:</strong><br />
        <a href="mailto:clubesdecienciamex@gmail.com">clubesdecienciamex@gmail.com</a></p>


	<p><strong>Para contacto de prensa escríbenos a:</strong><br />
        <a href="mailto:clubesdecienciamex@gmail.com">clubesdecienciamex@gmail.com</a></p>


      </article>
      <script>
        $(function() {
          var ua = navigator.userAgent;
          
          $('#stanford-OpenEdX-contact a').each(function() {
            var href = $(this).attr('href') + "?body=User Agent String: " + ua + " (Please do not delete, this text helps us help you. - Stanford OpenEdX Team)";
            if (!$(this).hasClass('external')) {
              $(this).attr('href', href);
            }
          });
        });
      </script>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
