<%! from django.utils.translation import ugettext as _ %>
<%!
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from courseware.courses import get_course_info_section
from courseware.access import has_access
from django.conf import settings
from edxmako.shortcuts import marketing_link
from lxml import etree


#"<article class = 'response'>response</article>"

if settings.FEATURES.get('ENABLE_SHOPPING_CART'):
   cart_link = reverse('shoppingcart.views.show_cart')
else:
   cart_link = ""

from django.core import serializers
%>

<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("{course_number} Course Info").format(course_number=course.display_number_with_default)}</%block>
<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>



<%block name="js_extra">
  <script type="text/javascript" src="${static.url('js/jquery.treeview.js')}"></script>
  <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $(".handouts").treeview({collapsed:true, unique:true/*, cookieId: "treeview-book-nav", persist: "cookie"*/});
    });
  </script>
</%block>

<%block name="bodyclass">${course.css_class or ''}</%block>
<%
  string = get_course_about_section(course, "overview")
%>

<%
  root = etree.fromstring(string)
  teacher = root.xpath("//section[@class='main-teacher']") 

%>
  <div class="page-heading add">
    <div class="holder">
      <h1> ${course.display_number_with_default | h}</h1>
      <p>Clubes de Ciencia | ${course.display_name_with_default}</p>
    </div>
  </div>
<div id="two-columns">
  <article id="article-content">
    <div class="align-center"><img src="${course_image_url(course)}" alt="img5"></div>
    <h2>El Curso</h2>
    <a href="#">${get_course_about_section(course, "overview")}</a>
  </article>
  <aside id="sidebar">
    <section class="main-block">
      <div class="block1">
	<h2>ADMISIONES</h2>
<!--	<form class="admision-form">
	  <fieldset>
	    <select>
	      <option>Jan 13th 2014</option>
	      <option>Jan 14th 2014</option>
	      <option>Jan 15th 2014</option>
	      <option>Jan 16th 2014</option>
	    </select>
	    <input type="submit" value="Inscríbete">
	  </fieldset>
	</form>-->
	<h3>Información del curso</h3>
	<ul>
          <li>
	    % if not course.start_date_is_still_default:
               ${course.start_date_text}
            % endif
	  -
	  % if get_course_about_section(course, "end_date"):
               ${get_course_about_section(course, "end")}
          % else:
               ${course.end_date_text}
          % endif
	  </li>
	  <li class="hours">${get_course_about_section(course, "effort")} horas de trabajo semanal</li>
	</ul>
      </div>
      <div class="block2">
	<h3>Profesor</h3>
	<div class="profile-block">
	  <img class="align-left" src="/static/themes/clubesdeciencia/images/img6.png" alt="img6">
	  <div class="name-part"> <a href="#">${etree.tostring(teacher[0])}</a> <strong>${etree.tostring(teacher[1])}</strong> </div>
	</div>
      </div>
      <div class="category-area">
	<h3>Categorías</h3>
	<ul>
	  <li><a href="#">Pedagogía</a></li>
	</ul>
      </div></section>
    <section class="social-network">
      <h3>Comparte</h3>
      <div class="fb-like" data-href=" ${request.build_absolute_uri}" data-width="40" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></div></div>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </section>
  </aside>
</div>

