<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from lxml import html    
from datetime import datetime
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%!
from microsite_configuration import microsite
from courseware.courses import course_image_url, get_course_about_section
%>

<section class="find-courses">

<%
  course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore free courses from leading universities."))

  # not sure why this is, but if I use static.url('images/edx_bw.png') then the HTML rendering
  # of this template goes wonky

  logo_file = microsite.get_value(
    'course_index_overlay_logo_file', settings.STATIC_URL + 'images/edx_bw.png')
%>

  <header class="">
    <div class="inner-wrapper main-search">
      <hgroup>
        <div class="logotipo">
        </div>
      </hgroup>
    </div>
  </header>
  <div class="page-heading">
    <div class="holder">
      <h1>CC</h1>
      <p>Listado de Clubes de Ciencia</p>
    </div>
  </div>
  <div id = "alternative-main">
    <div class="learning-block">
      <div class="learning-part">
        %for course in courses:
	<%
	   string = get_course_about_section(course, "overview")
	   root = html.fromstring(string)
	   teacher = root.xpath("//section[@class='main-teacher']") 
	   %>
          <div class="box">
            <div class="align-left"><a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}"><img class = "course-listing-img" src="${course_image_url(course)}" alt="${get_course_about_section(course, 'title')}"></a></div>
	    <div class="info-area">
	      <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">${get_course_about_section(course, 'title')}</a>
	      % if len(teacher) > 0:
	      <em>Profesor ${teacher[0].text_content()}</em>
	      % endif
            </div>
	  </div>
        %endfor
	</div>
        <div class="date-area">
        %for course in courses:
<%
	   if(not course.start_date_text == "TBD" and not course.end_date_text == "TBD" and not len(course.end_date_text)==0):
	        course_date_start = datetime.strptime(course.start_date_text, "%b %d, %Y")
	        course_date_end = datetime.strptime(course.end_date_text, "%b %d, %Y")
	        course_length = (course_date_end-course_date_start)/7
	        course_length = `course_length.days`+' semanas'
#	        course_length = len(course.end_date_text)
	   else:
	        course_length = "N/A"
%>

	    <div class="box">
	      <time datetime="${course.start_date_text}" class="date">
                   ${course.start_date_text}
	      </time>
	      <strong>(${course_length})</strong>
	      <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">Inscribete</a>
	    </div>
        %endfor%
	  </div>
    </div>
    <aside class="left-column">
      <h3>Filtro</h3>
      <form class="filter-form">
	<fieldset>
	  <ul>
	    <li>
	      <input type="radio" id="Biología" name="filter">
	      <label for="Biología">Biología</label>
	    </li>
	    <li>
	      <input type="radio" id="Programación" name="filter">
	      <label for="Programación">Programación</label>
	    </li>
	    <li>
	      <input type="radio" id="Matemáticas" name="filter">
	      <label for="Matemáticas">Matemáticas</label>
	    </li>
	    <li>
	      <input type="radio" id="Física" name="filter">
	      <label for="Física">Física</label>
	    </li>
	    <li>
	      <input type="radio" id="Química" name="filter">
	      <label for="Química">Química</label>
	    </li>
	    <li>
	      <input type="radio" id="Robótica" name="filter" checked="checked">
	      <label for="Robótica">Robótica</label>
	    </li>
	  </ul>
	  <strong>CIUDAD</strong>
	  <ul>
	    <li>
	      <input type="radio" id="QuíCiudad-Juárezmica" name="filter">
	      <label for="QuíCiudad-Juárezmica">Ciudad Juárez</label>
	    </li>
	    <li>
	      <input type="radio" id="Tijuana" name="filter">
	      <label for="Tijuana">Tijuana</label>
	    </li>
	  </ul>
	</fieldset>
      </form>
    </aside>
  </div>
</section>
