<%! from django.utils.translation import ugettext as _ %>
<%!
from courseware.courses import get_course_info_section
from courseware.courses import course_image_url, get_course_about_section


%>

<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("{course_number} Course Info").format(course_number=course.display_number_with_default)}</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

<%include file="/dashboard/_dashboard_prompt_midcourse_reverify.html" />

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('js/jquery.treeview.js')}"></script>
  <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $(".handouts").treeview({collapsed:true, unique:true/*, cookieId: "treeview-book-nav", persist: "cookie"*/});
    });
  </script>
</%block>

<%block name="bodyclass">${course.css_class or ''}</%block>
  <div class="page-heading add">
    <div class="holder">
      <h1> ${course.display_number_with_default | h}</h1>
      <p>Clubes de Ciencia | ${course.display_name_with_default}</p>
    </div>
  </div>
<div id="two-columns">
  <article id="article-content">
    <div class="align-center"><img src="${course_image_url(course)}" alt="img5"></div>
    <h2>Introducción </h2>
    <p>El objetivo de este Club de Ciencias es aprender a programar una aplicación (App) para el sistema operativo Android, utilizado en varios "smartphones" (e.g. Droid, Nexus, Atrix, etc.).</p>
    <p>&iquest;Qué son los "Apps"?<br>
      Los Apps son programas que se pueden descargar, gratuitamente o pagando, en ¨Mercados de Apps¨.  Entre los mercados más populares están:</p>
    <p>Android Market (específico para el sistema operativo Android):<br>
      <a href="#">https://market.android.com</a></p>
    <p>Amazon Appstore for Android:<br>
      <a href="#">http://www.amazon.com/mobile-apps/b?ie=UTF8&amp;node =2350149011 </a></p>
    % if user.is_authenticated():
    <section class="updates">
      % if staff_access and masquerade is not UNDEFINED and studio_url is not None:
        % if masquerade == 'staff':
          <div class="wrap-instructor-info studio-view">
            <a class="instructor-info-action" href="${studio_url}">${_("View Updates in Studio")}</a>
          </div>
        % endif
      % endif
	  <h1>${_("Course Updates &amp; News")}</h1>
	  ${get_course_info_section(request, course, 'updates')}
    </section>
    <section aria-label="Handout Navigation" class="handouts">
      <h1>${course.info_sidebar_name}</h1>
      ${get_course_info_section(request, course, 'handouts')}
    </section>
    % else:
    <section class="updates">
      <h1>${_("Course Updates &amp; News")}</h1>
      ${get_course_info_section(request, course, 'guest_updates')}
    </section>
    <section aria-label="${_('Handout Navigation')}" class="handouts">
      <h1>${_("Course Handouts")}</h1>
      ${get_course_info_section(request, course, 'guest_handouts')}
    </section>
    % endif
  </article>
  <aside id="sidebar">
    <section class="main-block">
      <div class="block1">
	<h2>ADMISIONES</h2>
	<form class="admision-form">
	  <fieldset>
	    <select>
	      <option>Jan 13th 2014</option>
	      <option>Jan 14th 2014</option>
	      <option>Jan 15th 2014</option>
	      <option>Jan 16th 2014</option>
	    </select>
	    <input type="submit" value="Inscríbete">
	  </fieldset>
	</form>
	<h3>Información del curso</h3>
	<ul>
	  <li>6 weeks</li>
	  <li class="hours">5&ndash;7 hours of work &frasl; week</li>
	  <li class="english">English</li>
	  <li class="subtitles">English Subtitles</li>
	</ul>
      </div>
      <div class="block2">
	<h3>Profesor</h3>
	<div class="profile-block">
	  <img class="align-left" src="images/img6.png" alt="img6">
	  <div class="name-part"> <a href="#">Elba Esther Gordillo</a> <strong>SNTE</strong> </div>
	</div>
      </div>
      <div class="category-area">
	<h3>Categorías</h3>
	<ul>
	  <li><a href="#">Pedagogía</a></li>
	</ul>
      </div></section>
    <section class="social-network">
      <h3>Comparte</h3>
      <div class="fb-like" data-href=" ${request.build_absolute_uri}" data-width="40" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></div></div>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </section>
  </aside>
</div>

