<%! from django.utils.translation import ugettext as _ %>

<%!
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "vBPWjK1Cgd8")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
  <header>
    <div class="outer-wrapper">
      <div class="title">
        <hgroup>
          % if homepage_overlay_html:
            ${homepage_overlay_html}
          % else:
            % if self.stanford_theme_enabled():
              <h1>${_("Cursos gratuitos en <strong>{country_name}</strong>").format(country_name="Mexico")}</h1>
            % else:
              <h1>${_("El futuro de la educacion.")}</h1>
            % endif
              <h2>${_("Para todos, todo.")}</h2>
          % endif
        </hgroup>

        ## Disable social buttons for non-edX sites
        % if not self.theme_enabled():
          <section class="actions">
            <div class="main-cta">
              <a href="#signup-modal" id="signup_action" class="find-courses" rel="leanModal">${_("Sign Up")}</a>
            </div>

            <div class="secondary-actions">
              <div class="social-sharing">
                <div class="sharing-message">${_("Stay up to date with all {platform_name} has to offer!").format(platform_name=settings.PLATFORM_NAME)}</div>
                <a href="https://twitter.com/edXOnline" class="share">
                  <img src="${static.url('images/social/twitter-sharing.png')}">
                </a>
                <a href="http://www.facebook.com/EdxOnline" class="share">
                  <img src="${static.url('images/social/facebook-sharing.png')}">
                </a>
                <a href="https://plus.google.com/108235383044095082735/posts" class="share">
                  <img src="${static.url('images/social/google-plus-sharing.png')}">
                </a>
              </div>
            </div>
          </section>
          % endif
      </div>

      % if show_homepage_promo_video:
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a>
      % endif
    </div>
  </header>
  <section class="container">
<!--     <div class="site-name">Clubes de Ciencia</div>
    <div class="slogan">Crea tu propio Club ahora</div>-->
    <div id="main">
      <div id = "category-block">
	% if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
	<div id="category-block">
          <ul class="courses-listing">
            %for course in courses:
	    <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
	    %if loop.index/2 == 0 or loop.index/2 == 1:
	      <div class = "category-box${(loop.index%5+1)}">
	    %else:
               <div class = "category-box${(6-loop.index%5)}">
	    %endif 
	      <h2 class = "course-title">
		${get_course_about_section(course, 'title')}
	      </h2>
	      <span class="description">${get_course_about_section(course, 'title') }</span> <a href="#" class="more">more</a>

	       </div>
	    </a>
            %endfor
          </ul>
	</div>
      % endif

  </section>
    </div>
  </section>


<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "vBPWjK1Cgd8"
    %>
    <iframe width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
