## mako
<%! from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

%>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## Toss the Stanford brand bar on top of the page
<%block name="navigation_top">
   <header id="header">
    <div class="header-holder"> <strong class="logo"><a href="/">club de ciencia</a></strong>
      <div id="nav">
	<ul>
	  <li class="active"><a href="/">Inicio</a></li>
	  <li><a href="${marketing_link('ABOUT')}">&iquest;Que es Clubes de Ciencia?</a></li>
	  <li><a href="${marketing_link('COURSES')}">Busca un club</a></li>
	  <li><a href="${marketing_link('TEAM')}">El equipo</a></li>
	  <li><a href="#">FAQ</a></li>
	  <li><a href="#">Contacto</a></li>
    % if user.is_authenticated():
	  % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
          <li class="nav-global-01">
            <a href="${marketing_link('COURSES')}">${_('Find Courses')}</a>
          </li>
          % endif
	  <li class="primary">
            <a href="#" class="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr">${_("More options dropdown")}</span> &#9662;</a>
              <li><a href="${marketing_link('FAQ')}">${_("Help")}</a></li>
              <li><a href="${reverse('logout')}" >${_("Log Out")}</a></li>
            </ul>
	  </li>
	  % endif
      </div>
    </div>
</header>

</%block>


## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('themes/stanford/images/cc-logo.jpg')}" height="35" alt="Home Page" />
</%block>

## We don't want extra links inside the navigation dropdown
## <%block name="navigation_dropdown_menu_links" />

## When unauthenticated, only show the about page link
<%block name="navigation_global_links">
  <li class="nav-global-01">
    <a href="${marketing_link('ABOUT')}">About</a>
  </li>
</%block>

## When authenticated, show both the about page and find courses
<%block name="navigation_global_links_authenticated">
  <li class="nav-global-01">
    <a href="${marketing_link('ABOUT')}">About</a>
  </li>
  <li class="nav-global-02">
    <a href="${marketing_link('COURSES')}">Find Courses</a>
  </li>
</%block>

