## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>
<%! from microsite_configuration.templatetags.microsite import platform_name %>

<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="${marketing_link('ABOUT')}">
              ${_("About")}
          </a>
          </li>
          <li class="nav-colophon-02">
          <a id="jobs" href="${marketing_link('JOBS')}">
              ${_("Jobs")}
          </a>
          </li>
          <li class="nav-colophon-03">
          <a id="press" href="${marketing_link('PRESS')}">
              ${_("Press")}
          </a>
          </li>
          <li class="nav-colophon-04">
          <a id="faq" href="${marketing_link('FAQ')}">
              ${_("FAQ")}
          </a>
          </li>
          <li class="nav-colophon-05">
          <a id="contact" href="${marketing_link('CONTACT')}">
              ${_("Contact")}
          </a>
          </li>
      </ol>
      </nav>

      <div class="colophon-about">


        <p>${_("{platform_name} is a non-profit created by founding partners {Harvard} and {MIT} whose mission is to bring the best of higher education to students of all ages anywhere in the world, wherever there is Internet access. {platform_name}'s free online MOOCs are interactive and subjects include computer science, public health, and artificial intelligence.").format(platform_name="Clubes de Ciencia", Harvard="Harvard", MIT="MIT")}</p>
      </div>
    </div>

    <div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-01">
            <a href="http://www.meetup.com/edX-Global-Community/" rel="external">
              <img src="${static.url('images/social/ico-social-meetup.png')}" alt="edX on Meetup" />
            </a>
          </li>
          <li class="nav-social-02">
            <a href="https://www.facebook.com/groups/189710577735283/" rel="external">
              <img src="${static.url('images/social/ico-social-facebook.png')}" alt="edX on Facebook" />
            </a>
          </li>
          <li class="nav-social-03">
            <a href="https://twitter.com/ClubesCienciaMx" rel="external">
              <img src="${static.url('images/social/ico-social-twitter.png')}" alt="edX on Twitter" />
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com/108235383044095082735/posts" rel="external">
              <img src="${static.url('images/social/ico-social-google.png')}" alt="edX on Google+" />
            </a>
          </li>
          <li class="nav-social-05">
            <a href="http://youtube.com/user/edxonline" rel="external">
              <img src="${static.url('images/social/ico-social-youtube.png')}" alt="edX on YouTube" />
            </a>
          </li>
        </ul>
      </nav>

      <p class="copyright">${_("&copy; 2014 {platform_name}, some rights reserved.").format(platform_name="Clubes de Ciencia")}</p>

      <nav class="nav-legal">
        <ul>
          <li class="nav-legal-01">
            <a href="${marketing_link('TOS')}">${_("Terms of Service and Honor Code")}</a>
          </li>
          <li class="nav-legal-02">
            <a href="${marketing_link('PRIVACY')}">${_("Privacy Policies")}</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>


## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
%>
<div class="wrapper-footer">
  <footer id = "footer">
    <div class = "f1">
      <div id="su-footer">
	<div class="su-container">
	  <div class="su-row">
	    <div id="su-footer-logo" class="span2">
              <a href="/">
		<!-- <img src="http://localhost:8000/static/images/logo-mini-2.png" alt="Clubes de Ciencia" width="400" /> -->
              </a>
	    </div>
	    <div style="clear: both;"></div>
	  </div>
	</div>
      </div>
  </div>
</div>
